/**菜单栏边框宽度**/
$menu-aside-width:256px;
$menu-aside-collapsed-width:64px;
$menu-aside-font-size:14px;
$menu-aside-icon-font-size:18px;
$meun-aside-text-color:#fff;
$meun-aside-text-active-color:#409EFF;
$meun-aside-hover-bg-color:rgb(50, 65, 87);
$meun-aside-bg-color:#000c17;

/**header头部份**/
$header-height:65px;